.project__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    gap: 2rem;
}

.project__item {
    background: yellow;
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project__item:hover {
    transform:scale(1.06);
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.project__item-cover {
    border-radius: 1.5rem;
    overflow: hidden;
}

.btn {
    margin-top: 1rem;
    color: white;
    background: black;
}

.project__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.project__img {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.project__img2 {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.project__item h3 {
    margin: 1.2rem 0 1rem;
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

.project__item h2 {
    color: black;
}

/* ====== MEDIA QUERIES (Tablette) ==== */
@media screen and (max-width: 1024px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
        grid: 1.2rem;
    }
}

/* ====== MEDIA QUERIES (Phone) ==== */
@media screen and (max-width: 600px) {
    .project__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .project__item h3 {
        margin: 1.2rem 0 1rem;
        color: black;
        font-size: 1.5rem;
        font-weight: 900;
    }
}